/* Global styles */

html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

h1, h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header Section */

header {
  background-color: black;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}

header img {
  height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}

header span {
  font-size: 1rem;
  padding: 0.66rem 0;
}

.headline, .description, .info .title, footer {
  background-color: black;
  color: white;
}

/* Jumbotron (a.k.a. main banner) Section */

.jumbotron {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
}

.headline h4 {
  font-size: 1rem;
}

.headline h1 {
  font-size: 2rem;
  margin: 0.25rem 0;
  line-height: 1.2em;
}

/* Navigation Bar */

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}

.mobile-nav {
  display: none;
}

/* Products section */

.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.product {
  width: 30%;
}

.product-image {
  border: 4px solid black;
  height: 9em;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 8em;
}

.description {
  display: block;
  padding: 0.5rem;
  text-align: center;
}

/* Business Info Section */

.business-info {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  padding: 1em 2em;
}

footer {
  padding: 5em 0;
  margin-top: 4em;
}


/* Media Queries */

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }

  .product {
    width: 47%;
  }

  .product.right {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15em;
  }

  .headline {
    width: 100%;
    padding: 1em 2em;
    top: 10em;
  }

  .headline h4 {
    font-size: .77rem;
  }

  .headline h1 {
    font-size: 1rem;
  }

  .products,
  .business-info {
    flex-wrap: wrap;
  }

  .product {
    width: 90%;
    margin: auto;
  }

  .product.center {
    display: none;
  }

  .info {
    width: 90%;
    margin: 0.5em auto;
  }

  footer {
    text-align: center;
  }
}
